
  <div *ngIf="dataLoaded==false" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
<div class="row row-cols-1 row-cols-md-2 g-4" style="margin-top: 10px; margin-bottom: 10px;">
  <div class="col" *ngFor="let car of cars">
    <div class="card">
      <img style="height: 330px;" [src]="getCarImage(car)" class="card-img-top" alt="Hollywood Sign on The Hill" />
      <div class="card-body">
        <h5 class="card-title">{{car.brandName}} - {{car.colorName}}</h5>
        <p class="card-text">
          {{car.description}}
        </p>
      </div>
      <div class="card-footer d-flex justify-content-between align-items-center">
        <small class="fw-bold text-start">{{car.dailyPrice}} TL / Günlük</small>
        <a routerLink="/cars/{{car.carId}}" class="buton float-end text-center">Detaylı Görüntüle</a>
      </div>
    </div>
  </div>
</div>

